<div class="modal-header text-center d-block">
    <button type="button" class="close" aria-label="Close" (click)="closeRoute('/')">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Sign up</h4>
</div>
<div class="modal-body">
    <div *ngIf="showError" class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
    <form [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="registerUser(registerForm.value)">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" formControlName="firstName" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" formControlName="lastName" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control" required />
            <div *ngIf="validateTouched('email') && hasError('email', 'email')" class="text-invalid">
                Provide a valid email
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control" required />
            <div *ngIf="validateDirty('password')" >
                <div class="text">Password must include:</div>
                <div [ngClass]="[checkPasswordRequirement('length')]">8-20 characters</div>
                <div [ngClass]="[checkPasswordRequirement('capital')]">At least one capital letter</div>
                <div [ngClass]="[checkPasswordRequirement('number')]">At least one number</div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" required />
            <div *ngIf="validateTouched('confirmPassword') && hasError('confirmPassword', 'mismatch')" class="text-invalid">
                Passwords must be the same
            </div>
        </div>
        <br>
        <div class="form-group row">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-submit" [disabled]="!registerForm.valid">Register</button>
            </div>
        </div>
        <div class="form-group row align-items-center justify-content-center">
            <div class="col-md-7 p-0">
                <div class="nav-link text-right">Already have an account?</div>
            </div>
            <div class="col-md-4 p-0">
                <a class="nav-link" [routerLink]="" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}" (click)="closeRoute('/authentication/login')">Login.</a>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeRoute('/')">Close</button>
</div>