@import '../../styles.scss';

.jumbotron {
    background: transparent;
    display: flex;
    align-items: center;
    height: 100%;
}

nav a,
.jumbotron {
    color: color(dark, contrasting);
}

.lead {
    font-size: 1.5rem;
}

#contact {
    background: linear-gradient(to bottom right, color(light, bg-secondary), color(light, bg-tertiary));
}

.cover {
    background-image: linear-gradient(to bottom right, color(dark, bg-secondary), color(dark, bg-tertiary));
    height: 80vh;
}

.bi-lg {
    &:before {
        font-size: 10rem;
        padding: 1rem;
    }
}
