<section class="p-4">
    <div class="row">
        <div class="col-md-6 text-left pl-2">
            <p class="lead">{{date | date:'fullDate'}}</p>
        </div>
        <div *ngIf="openEditor" class="col-md-4 ml-auto text-right pr-2 justify-content-around">
            <a class="btn btn-swipe-dark mr-2" (click)="cancel()">Cancel</a>
            <a class="btn btn-swipe-dark ml-2" (click)="submit()">Save</a>
        </div>
        <div *ngIf="!openEditor" class="col-md-4 ml-auto text-right pr-2">
            <a class="btn btn-swipe-dark" (click)="edit()">Edit</a>
        </div>
    </div>
</section>
<app-journal-entry-editor *ngIf="openEditor" [entryText]="entryText" [date]="date"></app-journal-entry-editor>
<app-journal-entry-view *ngIf="!openEditor" [content]="entryText" [date]="date"></app-journal-entry-view>